@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

:root{
    --color-principal: rgb(242, 95, 58);
    --color-secundario: rgb(35, 44, 81);
    --color-texto-secundario: #B3B2B7;
}

body {
	margin: 0;
	background-image: url(../img/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: 75rem -18.75rem;
}

main {
    margin: 0;
	background-image: url(../img/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: -500px 1000px;
}

/* Estilos del HEADER */

header {
    display: flex;
    margin: 9rem 12.5% 9rem 12.5%;
    justify-content: space-between;
}

nav {
    display: flex;
    color: var(--color-secundario);
    font-weight: 500;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    padding: 0 1.75em;
    font-size: 0.8125rem;
}

nav li a {
    text-decoration: none;
}

header img{
    max-height: 1.5em;
    align-items: center;
}

.cta { 
    width: 8.375rem;
    height: 2.75rem;
    background: var(--color-principal);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 3em;
    border: none;
    color: white;
    font-weight: 500;
}

/* Estilos del primer SECTION */

.hero {
    display: flex;
    justify-content: space-between;
    margin: 9rem 12.5% 9rem 12.5%;
}

/* Estilos del primer article */

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:stretch;
    /* max-width: 35%; */
}

h1 {
    font-weight: 700;
    font-size: 3.625rem;
    line-height: 4.125rem;
    letter-spacing: -0.035em;
    margin: 0;
}

.heading p{
    margin: 1.75rem 0rem;
}

/* Estilos de la SEGUNDA SECTION */

.advantages {
    display: flex;
    justify-content: center;
    margin: 9rem 12.5% 9rem 12.5%;
    gap: 8%;
}

.subheading {
    margin-top: -2rem;
}

.subheading h2 {
    color: var(--color-secundario);
    font-weight: 700;
    font-size: 2.25rem;
}

.subheading p {
    font-weight: 500;
    line-height: 151%;
}

.adv {
    display: flex;
    gap: 1.5rem;
}

.number-style {
    color: white;
    background-color: var(--color-principal);
    font-weight: 700;
    padding: .75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    width: 4.3rem;
    height: 2.7rem;
}

.adv div {
    margin-top: -.6rem;
}

.adv div h3 {
    color: var(--color-secundario);
    font-weight: 700;
    letter-spacing: 0.015em;
}

.adv div p {
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5rem;
    letter-spacing: -0.01em;
    color: var(--color-texto-secundario);
}

/* Estilos de la sección de CARDS */

.recommendation { 
    display: flex;
    flex-direction: column;
    margin-bottom: 9rem;
}

.recommendation h2 {
    color: var(--color-secundario);
    font-weight: 700;
    font-size: 2.5rem;
    align-self: center;
    margin-bottom: 4.5rem;
}

.cards-clients {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FAFAFA;
}

.card h4 {
    color: var(--color-secundario);
    font-weight: 700;
}

.card p {
    color: #B9B9C1;
    padding: 0 1.25rem 2.5rem 1.25rem;
}

.card img {
    max-width: 70px;
    margin-top: -2rem;
}

.recommendation .cta {
    align-self: center;
    margin-top: 3rem;
}